<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <title>Trials of Banshee</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Trials of Banshee" />
    <meta name="theme-color" content="#414142" />

    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trials of Banshee" />
    <meta property="og:description" content="Trials of Banshee" />
    <meta property="og:image" content="" />

    <link rel="icon" href="/favicon.jpg" type="image/jpg" />

    <link rel="stylesheet" href="{{ asset('build/index.css') }}" />

    <script type="text/javascript">
    	window.PRELOADED_STATE = {{ getPreLoadedState()|raw }};
    </script>
    <script defer type="text/javascript" src="{{ asset('build/index.js') }}"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <noscript>Your browser does not support JavaScript!</noscript>
</html>
