<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <title>Trials of Banshee</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Every day at 17h UTC, 3 gunsmith bounties, 3 weapons to find by sound. Challenges await, and loot too!" />
    <meta name="theme-color" content="#414142" />

    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trials of Banshee" />
    <meta property="og:description" content="Every day at 17h UTC, 3 gunsmith bounties, 3 weapons to find by sound. Challenges await, and loot too!" />
    <meta property="og:image" content="/og.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@TrialsOfBanshee" />

    <link rel="icon" href="favicon.jpg" type="image/jpg" />

    <link rel="stylesheet" href="{{ asset('index.css') }}" />

    <script type="text/javascript">
    	window.PRELOADED_STATE = {{ getPreLoadedState()|raw }};
    </script>
    <script defer type="text/javascript" src="{{ asset('index.js') }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4CMD6F8PSN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4CMD6F8PSN');
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <noscript>Your browser does not support JavaScript!</noscript>
</html>
